@font-face {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/larsseit.woff2") format("woff2");
}

@font-face {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/larsseit-bold.woff2") format("woff2");
}

@font-face {
  font-family: "WunderBrick";
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/WunderBrick-Display.otf") format("opentype");
}
